USE [TFSM_Portal_Cotizador]
GO
/****** Object:  Table [dbo].[tbl_portal_C_Modelos]    Script Date: 2/7/2021 14:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_portal_C_Modelos](
	[id_auto] [int] NOT NULL,
	[id_tipo] [int] NOT NULL,
	[id_modelo] [int] NOT NULL,
	[des_auto] [varchar](50) NOT NULL,
	[descripcion_tipo] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
	[precio] [decimal](18, 4) NULL,
	[tipo_carrusel] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_portal_Distribuidores]    Script Date: 2/7/2021 14:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_portal_Distribuidores](
	[IdDealer] [int] IDENTITY(1,1) NOT NULL,
	[IdState] [int] NOT NULL,
	[Dealer] [varchar](900) NOT NULL,
	[Code] [varchar](100) NOT NULL,
	[Adress] [varchar](max) NULL,
	[Lat] [varchar](500) NULL,
	[Lng] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
	[PostalCode] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDealer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tbl_portal_C_Modelos] ([id_auto], [id_tipo], [id_modelo], [des_auto], [descripcion_tipo], [descripcion], [precio], [tipo_carrusel]) VALUES (2, 6, 2576, N'CAMRY', N'LE', N'2021', CAST(454900.0000 AS Decimal(18, 4)), N'AUTO')
INSERT [dbo].[tbl_portal_C_Modelos] ([id_auto], [id_tipo], [id_modelo], [des_auto], [descripcion_tipo], [descripcion], [precio], [tipo_carrusel]) VALUES (2, 7, 2578, N'CAMRY', N'XLE', N'2021', CAST(548900.0000 AS Decimal(18, 4)), N'AUTO')
INSERT [dbo].[tbl_portal_C_Modelos] ([id_auto], [id_tipo], [id_modelo], [des_auto], [descripcion_tipo], [descripcion], [precio], [tipo_carrusel]) VALUES (2, 221, 2577, N'CAMRY', N'SE', N'2021', CAST(508900.0000 AS Decimal(18, 4)), N'AUTO')
GO
SET IDENTITY_INSERT [dbo].[tbl_portal_Distribuidores] ON 

INSERT [dbo].[tbl_portal_Distribuidores] ([IdDealer], [IdState], [Dealer], [Code], [Adress], [Lat], [Lng], [Status], [PostalCode]) VALUES (1, 15, N'DALTON TOYOTA LOPEZ MATEOS', N'57001', N'Avenida López Mateos Sur,Jalisco', N'20.640976', N' -103.410414', 1, N'45167')
INSERT [dbo].[tbl_portal_Distribuidores] ([IdDealer], [IdState], [Dealer], [Code], [Adress], [Lat], [Lng], [Status], [PostalCode]) VALUES (2, 17, N'TOYOTA DE MONTERREY', N'57002', N'Avenida Lázaro Cárdenas 2272 Ote,San Pedro Garza García,Nuevo León', N'25.643337', N' -100.321608', 1, N'66278')
INSERT [dbo].[tbl_portal_Distribuidores] ([IdDealer], [IdState], [Dealer], [Code], [Adress], [Lat], [Lng], [Status], [PostalCode]) VALUES (3, 9, N'TOYOTA PERISUR', N'57003', N'Boulevard Adolfo Ruíz Cortines 4000 Bis,México,Distrito Federal', N'19.307683', N' -99.214229', 1, N'01900')
SET IDENTITY_INSERT [dbo].[tbl_portal_Distribuidores] OFF
GO
