<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7625.0">
	<connectionStrings>
		<add connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|Sitefinity.mdf" name="Sitefinity4" />
		<add connectionString="data source=DIANA-PC\SQLEXPRESS;Integrated Security=SSPI;initial catalog=Sitefinity4" name="Sitefinity" />
	</connectionStrings>
</dataConfig>