<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7625.0" accessControlAllowOrigin="https://toyotafinancial--salt001.lightning.force.com" authCookieName=".SFAUTH-Default" rolesCookieName=".SFROLES-Default" validationKey="CCFB15E6CD003AE8FB78A0BC9D170DDABDA2F1826D3593A06FC75C310C2E04BCEA3BB5553B3022682760874FDC1F2E91904564534C26B0792E208B5F3D86FF63" decryptionKey="A2E92A051A7004B5B7709CB5667CD1AF5D3600B974597193B22D7A264BEB6CB5" loggingCookieName=".SFLOG-Default">
	<securityTokenIssuers>
		<add key="9992CC94656EE3F78C07C0EB7A22AD2C979E7CB17E6DFF9E40F8F7C8ECE9C81D" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="9992CC94656EE3F78C07C0EB7A22AD2C979E7CB17E6DFF9E40F8F7C8ECE9C81D" realm="http://localhost" />
	</relyingParties>
</securityConfig>