<?xml version="1.0" encoding="utf-8"?>
<startupConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7625.0" initialized="True" password="admin" siteUrl="http://localhost:63202/Sitefinity/" username="digevit608@zcai55.com" />