<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7625.0">
	<toolboxes>
		<toolbox name="PageLayouts" config:flags="1">
			<sections>
				<add title="Custom Layouts" name="customLayouts">
					<tools>
						<add type="Telerik.Sitefinity.Web.UI.LayoutControl" title="grid-4+4+4" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/TFSM/CustomLayouts/grid-4+4+4.ascx" name="grid-4+4+4" />
					</tools>
				</add>
			</sections>
		</toolbox>
	</toolboxes>
</toolboxesConfig>