@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.Script(ScriptRef.JQuery, "top", true)
@Html.Script(Url.WidgetContent("~/ResourcePackages/Bootstrap4/assets/dist/js/bootstrap.min.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/Card/card-mis-cotizaciones.js"), "top", true)

@Html.StyleSheet(Url.Content("~/Content/css/Card/card-mis-cotizaciones.css"))

<div>
    <div id="bannerBienvenida" class="customRow container"></div>
    <div id="dashboard" class="customRow container">
        <div class="col-12 mt-5 d-none">
            <div class="sf-form-container step-5-card mt-5" id="step-5-contact-form">
                <div class="d-grid">
                    <div class="float-container">
                        <label class="float-label" for="step-5-distribuidores">Distribuidor</label>
                        <select class="form-input effect-2 bg-transparent" id="step-5-distribuidores" name="distribuidores">
                            <option value="0" disabled selected>Distribuidor</option>
                        </select>
                        <span class="focus-border"></span>
                    </div>
                    <div class="float-container">
                        <label class="float-label" for="step-5-phone">Tel&eacute;fono</label>
                        <input type="text" id="step-5-phone" name="phone" maxlength="10" class="form-input effect-2 bg-transparent" onkeydown="return (event.keyCode !== 69 && event.keyCode !== 188 && event.keyCode !== 110 && event.keyCode !== 190)" />
                        <span class="focus-border"></span>
                    </div>
                </div>
                <div class="mt-5">
                    <button id="step-5-contact" type="button" class="btn-red btn-long col-12">SER CONTACTADO</button>
                </div>
            </div>
        </div>
    </div>
    <div id="procesos" class="customRow container"></div>
    <div id="cotizaciones" class="customRow container"></div>
</div>

<div id="modalOverlay" style="display: none;">&nbsp;</div>
<div id="eliminarCotizacionModal" class="siteModal" style="display: none;">
    <div class="modal-custom">
        <div class="modal-header-custom">
            <span class="modal-header-custom_title">Est&aacute;s saliendo de toyotacredito.com.mx para entrar al sitio de Instagram.</span>
            <div class="modal-header-custom_close">
                <span id="eliminarCotizacionModalClose" data-modal="eliminarCotizacion" class="material-icons icon-button">close</span>
            </div>
        </div>
        <div class="modal-body-custom">
            Entrar&aacute;s a un sitio web ajeno a Toyota Financial Services M&eacute;xico, el cual es responsable de sus propios contenidos y mantiene su pol&iacute;tica de privacidad y seguridad.
        </div>
        <div class="modal-actions-custom">
            <button type="button" id="instagramModalBack" data-modal="instagram" class="btn-red_inverted mr-3">VOLVER</button>
            <button type="button" id="instagramModalContinue" data-modal="instagram" class="btn-red">CONTINUAR</button>
        </div>
    </div>
</div>