/*----------------GENERAL----------------*/

:root {
    --swiper-theme-color: #cc0000 !important;
}

.btn-black_inverted {
    padding: 12px 18px !important;
}

.d-grid {
    display: grid !important;
}

.textX2{
    font-size:28px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--color-black);
    background-color: white;
    color: var(--color-black);
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    transition: all 0.3s ease;
    user-select: none;
}

    .select-button.selected {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 24px;
        height: 40px;
        background-color: var(--color-black);
        border-radius: 20px;
        border: 1px solid var(--color-black);
        color: white;
        transition: all 0.3s ease;
        font-size: 14px;
        cursor: pointer;
        font-weight: 600;
        outline: none;
    }

    .btn-red.btn-long,
    .btn-red_inverted.btn-long,
    .btn-black_inverted.btn-long,
    .btn-black.btn-long,
    .select-button.btn-long {
        padding: 12px 18px;
    }

#select-car-type .select-button.selected {
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    color: white;
}

/*#step-3-back,*/
#step-4-back,
#step-5-back {
    margin-left: -30px;
}

/*#step-3-continue {
    margin-right: -30px;
}*/

.select2-container--default .select2-selection--single {
    background-color: transparent;
}

@media(max-width: 991px) {
    .select-button {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/*----------------STEP 1----------------*/
#step-1 {
    height: calc(100vh - 63px);
    /*width: 100vw;*/
    background-image: url('../../images/Cotizador/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    #step-1 > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #step-1 .title {
        font-size: 36px;
        font-weight: 600;
        line-height: 56px;
        margin-bottom: 40px;
    }

@media(max-width: 767px) {
    #step-1 {
        background-image: url('../../images/Cotizador/background_mobile.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        #step-1 .title {
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            margin-bottom: 40px;
            text-align: center;
        }
}

/*----------------STEP 2----------------*/
#step-2 {
    min-height: calc(100vh - 63px);
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

    #step-2 .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 40px;
    }

    #step-2 .terms {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    #step-2 .red-link {
        color: #cc0000;
        cursor: pointer;
    }

    #step-2 .terms input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        transform: scale(1.5);
        margin: 7px;
    }

@media (max-width: 575px) {
    #step-2 {
        padding-top: 0px;
    }

        #step-2 .title {
            margin-bottom: 20px;
        }

    #step-2-continue {
        width: 100%;
    }
}

/*----------------STEP 3----------------*/

#step-3 {
    min-height: calc(100vh - 63px);
    align-items: center;
    display: flex;
    flex-direction: column;
    /*padding-top: 20px;*/
}

    #step-3 .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 40px;
    }

    #step-3 .categories button {
        width: 100%;
    }

    #step-3 .slider-button {
        padding: 24px 27px;
        border-radius: 50%;
        border: 1px solid #cccccc;
        cursor: pointer;
        user-select: none;
        transition: all 0.2s ease-in-out;
    }

        #step-3 .slider-button:hover {
            background-color: #eee;
            transition: all 0.3s ease-in-out;
        }

        #step-3 .slider-button:active {
            background-color: #ccc;
            transition: all 0.1s ease-in-out;
        }

.car-slide {
    user-select: none;
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
}

    .car-slide.selected {
        background-color: #cf3d3d;
        transition: all 0.3s ease;
    }

    .car-slide .car-image {
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .car-slide .car-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin-top: 10px;
        margin-bottom: 5px;
        padding-left: 12px;
    }

.select-car,
.select-car:active {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    color: #cc0000;
}

    .select-car:hover {
        background-color: rgba(0,0,0,0.2);
        transition: all 0.3s ease;
    }

.car-slide.selected .select-car {
    color: white;
}

#step-3 .buttons {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    #step-3 .buttons > div {
        flex: 1 1 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 24px;
        cursor: pointer;
        background-color: #cc0000;
        color: white;
        width: 50%;
        border: 1px solid #cc0000;
    }

    #step-3 .buttons .btn-left {
        border-radius: 30px 0 0 30px;
    }

    #step-3 .buttons .btn-right {
        border-radius: 0 30px 30px 0;
    }

    #step-3 .buttons .middle-line{
        flex: 0 1 1px;
        height: 100%;
        width: 1px;
        border: 1px solid white;
    }

    #step-3 .buttons>div:hover{
        color: #cc0000;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    #cars-swiper-container{
        width: 100%;
    }

    @media(max-width: 991px) {
        .swiper-slide.car-slide-container {
        height: calc((100% - 30px) / 2);
    }

    .swiper-wrapper.car-slide-container {
        max-height: calc(100vh - 63px);
    }
}

/*----------------STEP 4----------------*/

#step-4 {
    min-height: calc(100vh - 63px);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

    #step-4 .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 40px;
    }

    #step-4 .block {
        margin-top: 20px;
        margin-bottom: 80px;
    }

    #step-4 .text-plan {
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
    }

    #step-4 .title-arrendamiento {
        font-size: 24px;
        font-weight: 600;
        line-height: 26px;
    }

    #step-4 .range-button {
        width: 51px;
        height: 51px;
        padding: 12px;
        border-radius: 50%;
        border: 1px solid #cccccc;
        cursor: pointer;
        user-select: none;
        flex: 0 1 auto;
        transition: all 0.2s ease-in-out;
        margin-top: 10px;
    }

        #step-4 .range-button:hover {
            background-color: #eee;
            transition: all 0.3s ease-in-out;
        }

        #step-4 .range-button:active {
            background-color: #ccc;
            transition: all 0.1s ease-in-out;
        }

.margin-range-plus {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.hitch-content{
    margin-bottom: 30px;
    flex: 1 1 auto;
    text-align: center;
    align-self: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    justify-content: center;
}

.hitch-content-2 {
    margin-bottom: 30px;
    flex: 1 1 auto;
    text-align: center;
    align-self: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

#hitch-text{
    border:none;
    width:18rem;
    text-align:center;
}
#hitch-max, #hitch-min {
    border: none;
    width: 7rem;
    text-align: center;
}

    #hitch-text::-webkit-inner-spin-button,
    #hitch-text::-webkit-outer-spin-button,
    #hitch-max::-webkit-inner-spin-button,
    #hitch-max::-webkit-outer-spin-button,
    #hitch-min::-webkit-inner-spin-button,
    #hitch-min::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


#porcentaje{
    text-align:center;
}

.range-controls {
    margin-top: 0 !important;
}

/*input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #eee;
    border-radius: 12px;
    max-height: 5px;
}

    input[type='range']::-webkit-slider-runnable-track {
        height: 5px;
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 20px;
      -webkit-appearance: none;
      height: 20px;
      background-color: #777;
      box-shadow: -650px 0 0 650px #cc0000;
      overflow:visible !important;
      position:relative;
      z-index:999;
    }*/

    /** FF*/
    /*input[type="range"]::-moz-range-thumb{
        color: transparent;
        background-color: transparent;
        border: none;
    }

    input[type="range"]::-moz-range-progress {
        background-color: #cc0000;
    }

    input[type="range"]::-moz-range-track {
        height: 5px;
        background-color: #eee;
    }*/
    /* IE*/
    /*input[type="range"]::-ms-fill-lower {
        background-color: #cc0000;
    }

    input[type="range"]::-ms-fill-upper {
        background-color: #eee;
    }*/

    /******************************************************************/

#hitch-range{
    width:100%;
}

input[type="range"] {
    display: block;
    width: 250px;
}

    input[type="range"]:focus {
        outline: none;
    }

    input[type="range"],
    input[type="range"]::-webkit-slider-runnable-track,
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

        input[type="range"]::-webkit-slider-thumb {
            background-color: #cc0000;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-top: -6px;
            margin-left: 3px;
            cursor: pointer;
        }

        input[type="range"]::-moz-range-thumb {
            background-color: #cc0000;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-top: -6px;
            margin-left: 3px;
            cursor: pointer;
        }

        input[type="range"]::-ms-thumb {
            background-color: #cc0000;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-top: -6px;
            margin-left: 3px;
            cursor: pointer;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            background-color: #eee;
            height: 4px;
            border-radius: 15px;
            cursor: pointer;
        }

        input[type="range"]:focus::-webkit-slider-runnable-track {
            outline: none;
        }

        input[type="range"]::-moz-range-track {
            background-color: #eee;
            height: 4px;
            border-radius: 10px;
            cursor: pointer;
        }

        input[type="range"]::-ms-track {
            background-color: #eee;
            height: 4px;
            border-radius: 10px;
            cursor: pointer;
        }

        input[type="range"]::-ms-fill-lower {
            background-color: HotPink;
        }

        input[type="range"]::-ms-fill-upper {
            background-color: black;
        }

#progressBar {
    width: 0%;
    height: 4px;
    background-color: none;
    border-radius: 10px;
    position: relative;
    top: -9px;
    left: 3px;
    cursor: pointer;
    box-shadow: 0px 5px 0px 1px #cc0000;

}


/***************************************************************/

.centrado{
    display:flex;
    justify-content:center;
}

@media(max-width: 991px) {
    #hitch-text, #hitch-min, #hitch-max, .text-enganche {
        font-size: 18px;
    }
}

/*----------------STEP 5----------------*/

#step-5-phone::-webkit-inner-spin-button,
#step-5-phone::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

#step-5 {
    min-height: calc(100vh - 63px);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

    #step-5 .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 40px;
    }

    #step-5 .text-tag {
        font-weight: 400;
        color: #58595B;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 2px;
    }

    #step-5 .text-value {
        font-weight: 600;
        color: #333333;
        font-size: 16px;
        line-height: 24px;
    }

.step-5-card {
    padding: 32px;
    border-radius: 12px;
    background: #F5F5F5;
    display: grid;
    margin-top: 8px;
    margin-bottom: 8px;
}

    .step-5-card.size-small {
        height: 116px;
    }

    .step-5-card.size-medium {
        height: 208px;
    }

    .step-5-card.size-big {
        height: 256px;
    }

    .step-5-card.solicitud {
        height: 340px;
    }

#step-5 .terms {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#step-5 .red-link {
    color: #cc0000;
    cursor: pointer;
}

#step-5 .terms input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    margin: 7px;
}

#step-5 .float-container {
    margin: 15px 0;
}

@media(max-width: 991px) {
    .step-5-card.size-medium {
        height: 428px;
    }
}

@media(max-width: 767px) {
    #step-5 {
        padding-top: 0;
    }

    .step-5-card {
        padding: 16px;
    }

        .step-5-card.size-big {
            height: auto;
        }

        .step-5-card.solicitud {
            height: auto;
        }
}
