@using Telerik.Sitefinity.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<form>

    <div>
        <label for="max-enganche" class="m-top-sm">Monto máximo del Enganche</label>
        <input type="number" class="form-control" id="max-enganche" required/>
        <p class="text-muted">Monto para cálculo de enganche máximo</p>
    </div>

</form>